<ion-header>
  <ion-toolbar>
    <ion-title>cover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item [routerDirection]="'root'" [routerLink]="['/toc']"></ion-item>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>Hello World-Vol. 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/img/cover.jpg">
    </ion-card-content>
  </ion-card>
  <ion-button 
  color="success" 
  expand="full" 
  [routerDirection]="'root'" 
  [routerLink]="['/toc']"> 
  Table Of Contents </ion-button>
  <ion-button 
</ion-content>
